@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@plugin 'daisyui';
@plugin 'daisyui/theme' {
	name: 'light';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: oklch(98% 0.002 247.839);
	--color-base-200: oklch(96% 0.003 264.542);
	--color-base-300: oklch(92% 0.006 264.531);
	--color-base-content: oklch(21% 0.034 264.665);
	--color-primary: #0a5685;
	--color-primary-content: oklch(97% 0.014 254.604);
	--color-secondary: oklch(64% 0.246 16.439);
	--color-secondary-content: oklch(96% 0.015 12.422);
	--color-accent: oklch(60% 0.25 292.717);
	--color-accent-content: oklch(96% 0.016 293.756);
	--color-neutral: oklch(37% 0.034 259.733);
	--color-neutral-content: oklch(98% 0.002 247.839);
	--color-info: #1fb8fb;
	--color-info-content: oklch(97% 0.014 254.604);
	--color-success: oklch(72% 0.219 149.579);
	--color-success-content: oklch(98% 0.018 155.826);
	--color-warning: oklch(70% 0.213 47.604);
	--color-warning-content: oklch(98% 0.016 73.684);
	--color-error: oklch(64% 0.246 16.439);
	--color-error-content: oklch(96% 0.015 12.422);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}
@plugin 'daisyui/theme' {
	name: 'dark';
	default: false;
	prefersdark: true;
	color-scheme: 'dark';
	--color-base-100: oklch(25.33% 0.016 252.42);
	--color-base-200: oklch(23.26% 0.014 253.1);
	--color-base-300: oklch(21.15% 0.012 254.09);
	--color-base-content: oklch(97.807% 0.029 256.847);
	--color-primary: #1fb8fb;
	--color-primary-content: oklch(96% 0.018 272.314);
	--color-secondary: oklch(65% 0.241 354.308);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent: oklch(60% 0.25 292.717);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral: #1c2737;
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: #074e79;
	--color-info-content: oklch(98% 0.003 247.858);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 0.5rem;
	--radius-field: 0.5rem;
	--radius-box: 0.5rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 1px;
	--depth: 0;
	--noise: 0;
}

@plugin '@iconify/tailwind4' {
	scale: 1.3;
}

html,
body {
	font-family: 'Fira Sans', sans-serif;
}

@layer utilities {
	.music-font {
		font-family: 'Noto Music', sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.safe-padding {
		padding-top: env(safe-area-inset-top);
		padding-left: env(safe-area-inset-left);
		padding-right: env(safe-area-inset-right);
		padding-bottom: env(safe-area-inset-bottom);
	}
}
